/*của trang đăng nhập  đăng kí quên mật khẩu*/
body {
    background-color: black;
    color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.login-container {
    background:whitesmoke;
    padding: 32px 28px;
    border-radius: 10px;
    box-shadow: 0 0 12px yellow;
    min-width: 320px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color:black;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid black;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #0056b3;
}

input[type="reset"] {
    width: 100%;
    padding: 10px;
    background: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background: #666;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.forgot a:first-child {
    color: #ff9800; /* Quên mật khẩu màu cam */
}

.forgot a:last-child {
    color:orange; /* Đăng kí tài khoản mới màu cam*/
}

.forgot a {
    text-decoration: none;
    padding: 0 8px;
    font-weight: bold;
}

.forgot a:hover {
    text-decoration: underline;
}
     /* nút chọn giữa staff và khách*/
select {
  border-radius: 4px;/* bo tròn góc*/
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 18px; /* thêm khoảng cách phía dưới */
  width: 100%; /* full chiều rộng cho đẹp */
  padding: 10px;
  background: white;
  color: black;
  border: 1px solid black;
}

  

    

   


